# If threads are required on windows use -d:threadSupport

-d:release
--opt:speed
--app:lib
--cpu:amd64

@if windows:
  --out:"pymeow.pyd"
  @if threadSupport:
    --threads:on
    --cc:vcc
    --tlsEmulation:off
  @else:
    --passC:"-s -w -flto -ffast-math -fsingle-precision-constant"
    --passL:"-s -w -flto -ffast-math -fsingle-precision-constant"
  @end
@elif linux:
  --threads:on
  --out:"pymeow.so"
  --passC:"-s -w -flto -ffast-math -fsingle-precision-constant"
  --passL:"-s -w -flto -ffast-math -fsingle-precision-constant"
@end